<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272808133611-3pf64q9tvrluliml41h57ugkkus3rf6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272808133611-3pf64q9tvrluliml41h57ugkkus3rf6m</string>
	<key>API_KEY</key>
	<string>AIzaSyBEgMWeGp8GnyyYWU-fyvwtjmK_RYQfKzY</string>
	<key>GCM_SENDER_ID</key>
	<string>272808133611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecomFirebase</string>
	<key>PROJECT_ID</key>
	<string>ecom-android-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>ecom-android-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272808133611:ios:e6f3e01d8a4228ac754fae</string>
</dict>
</plist>